@(graphs: List[data.Graph], graphId: String)

<!-- sidebar -->
   	<div class="col-lg-3">
   		<div class="otp-sidebar affix">
   				
			<ul class="nav otp-sidenav">
			
				@if(graphs.length == 0) {
					<li><a href=""><em>no graphs configured</em></a></li>
				}
				
				@for(graph <- graphs) {
					<li @if(graph.id == graphId) {class="active"}><a href="@routes.Graphs.graph(graph.id)"><span class="glyphicon glyphicon-folder-@if(graph.id == graphId){open}else{close}"></span><span style="margin-left: 0.5em;">@graph.name</span></a></li>
				}
				
				<li class="divider"></li>
				<li><a href="@routes.Graphs.create()"><span class="glyphicon glyphicon-file"></span> Add graph</a></li>
				<li><a href="@routes.Graphs.refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh</a></li>			 
			</ul>
   		</div>
   	</div>